@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
    width: auto;
}
html{
    scroll-behavior: smooth;
}
h1{
    text-align: center;
/*    color: #461D2C;*/
}
/*
h2{
    text-align: center;
}
h4{
    text-align: center;
}
*/
span{
    font-weight: 400em;
}
body{
    width: 100%;
    background-color: #EEB4B4;
    
    zoom: 0.7;
}
.event-calender{
/*    align-content: center;*/
    text-align: center;
    width: 100%;
    padding-left: 0%;
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

section .home{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
/*  background: #2696E9;*/
}

.home:before{
  z-index: 777;
  content: '';
  position: absolute;
/*  background: rgba(3, 96, 251, 0.3);*/
    background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content{
  z-index: 888;
  color: #fff;
  width: 100%;
  margin-top: 50px;
/*    padding-left: 20%;*/
  display: none;
/*    text-align: center;*/
    
}


.home .content.active{
  display: block;
}

.home .content h1{
  font-size: 4em;
  font-weight: 900;
/*  text-transform: uppercase;*/
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 10px;
    text-align: center;
    font-family: 'Monsieur La Doulaise', cursive;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
    text-align: center;
}

.home .content h3 {
    text-align: center;
    font-family: cursive;
}

.home .content p{
  margin-bottom: 65px;
}

.home .content a{
  background: #fff;
  padding: 15px 35px;
  color: #1680AC;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.home .media-icons{
  z-index: 888;
  position: absolute;
    padding-left: 220px;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icons a{
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover{
  transform: scale(1.3);
}

.fab fa-instagram{
    transition: 0.3s ease;
    color: #fff;
    font-size: 1.6em;
    background: transparent;
    padding: 100%
    
}

.fab fa-instagram :hover{
  transform: scale(1.3);
}

.home video{
    background-attachment: fixed;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
    
  z-index: 000;
    zoom: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
     -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  transform:scale(1.5);
}
/*
.home video.scale2{
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  transform:scale(1.5);
}
*/

.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }


  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }


  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
      z-index: 3;
      color: white;
    background: url(images/menu1.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(images/close.png)no-repeat;
    background-size: 25px;
      position: fixed;
    background-position: center;
    transition: 0.3s ease;
  }
}
/*###############Location Slider Start###################*/
section
{
    position: relative;
    width: 100%;
/*    min-height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEB4B4;
    overflow: hidden;
}
.swiper {
        width: 100%;
/*        padding-top: 50px;*/
/*        padding-bottom: 50px;*/
}
#Event-Details{
        padding-top: 20px;

}
.swiper-slide {
        background-position: center;
        background-size: cover;
        width: 320px;
/*        background: #fff;*/
        box-shadow: 0 15px 50px rgba(0,0,0,0.2);
        filter: blur(4px);
        background: #FFE7D2;
    border-radius: 10px;
}
.swiper-slide-active{
    filter: blur(0px);
}
.swiper-slide img {
        display: block;
        width: 100%;
}
.testimonialBox
{
    position: relative;
    width: 100%;
    padding: 40px;
/*    padding-top: 40px;*/
    color: #461D2C;;
}

.googlemaps{
    padding: ;
    max-width: 40px;
    max-height: 40px;
}
/*
.testimonialBox .quote
{
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
}*/
.testimonialBox .details
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #461D2C;
}
.quote{
    max-height: 400px;
}
.testimonialBox .details h3{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #461D2C;
    line-height: 1.1em;
}
.testimonialBox .details h3 span{
font-size: 12px;
    color: #461D2C;
}
.swiper mySwiper-3d .swiper-slide-shadow-left {
    
}
/*####################Location Slider End########################*/









/*############ Photo Gallery start################*/





/*############### Photo gallery end #############*/

/*########## Event Calender start ################*/
.event-container {
    padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.event-container h3.year {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 10px 0;
}

.event .event-left {
  background: #222;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .date {
  font-size: 56px;
}

.event .event-left .month {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
    width: 100%;
    background-color: #FFE7D2;
}

.event .event-right h3.event-title {
  font-size: 15px;
  margin: 10px 0 10px 0;
  color: #461D2C;
  text-transform: uppercase;
}

.event .event-right .event-timing {
  background: #fff8ba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
/*  padding: 8px;*/
  border-radius: 16px;
/*  margin: 24px 0;*/
  font-size: 20px;
}

/*
.event .event-right .event-timing img {
  height: 20px;
  padding-right: 8px;
}
*/

/*
@media (max-width: 550px) {
  .event {
    flex-direction: column;
  }

  .event .event-left {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }

  .event .event-left .event-date .date,
  .event .event-left .event-date .month {
    display: inline-block;
    font-size: 24px;
  }

  .event .event-left .event-date {
    padding: 10px 0;
  }
}
*/
/*########## Event Calender end ################*/



/*############## Event Locations ###############*/
#Event-Locations{
        padding-top: 20px;
text-align: center;
}

/*
.Event-Locations{
    padding-left: 200px;
}
*/

#Tag-me{
        padding-top: 20px;

}


/*############# Scroll effect start ############*/
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10%);
    transition: all 1s;
    transition-delay: 150ms;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


@media(prefers-reduced-motion){
    .hidden{
        transition: none;
        color: #fff;
    }
}
/*############# Scroll effect end ############*/

/*###########svg scroll start#################*/
/*
.line-container{
    z-index: 1000;
    position: absolute;
    top: 0;
    left: -30%;
    padding-right: 500%;
    padding-left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

svg {
    display: inline-block;
    height: 100%; 
}
*/
/*#############svg scroll end #################*/



/*############## sakura leaf start #############*/
/*.sakura-leaf{*/
/*    top: 0;*/
/*    background: url(images/pngegg.png) no-repeat fixed;*/
/*
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.falling-leaves{
    text-align: center;
}

.falling-leaves span{
    z-index: 100;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(images/pngegg.png);
    margin: -280px 40px 54px -34px;
    
    -webkit-animation: falling-leaves 10s infinite linear;
    -moz-animation: falling-leaves 10s infinite linear;
}

.falling-leaves span: nth-child(5n+5){
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

.falling-leaves span: nth-child(3n+2){
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.falling-leaves span: nth-child(2n+5){
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.falling-leaves span: nth-child(3n+10){
    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}

.falling-leaves span: nth-child(7n+2){
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}

.falling-leaves span: nth-child(4n+5){
    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}

.falling-leaves span: nth-child(3n+7){
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}
*/

/*
@-webkit-keyframes falling-leaves{
    0%{
        opacity: 1;
        -webkit-transform: translate(0px,0px) rotateZ(0deg);
    }
    75%{
        opacity: 1;
        -webkit-transform: translate(100px,600px) rotateZ(270deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate(150px,800px) rotateZ(360deg);
    }
}
*/



.i-g{
    text-align: center;
    align-content: center;
    padding-left: 20%;
}
/*############## sakura leaf end #############*/



@media (max-width: 560px){
  .home .content h1{
    font-size: 3em;
    line-height: 60px;
  }
    
    header .navigation .navigation-items a{
        
    }
}
      